<h3>Mastercoin Faucet</h3>

<p>This website is made to award small amounts of Mastercoins to new users, in order to prevent abuse new members will have to pass a couple of criteria. </p>

<h4>Criteria:</h4>

<h5>Basic authentication</h5>
<li>Anyone that registers with a Google/Facebook account (amount given will be smaller than signing in through premium authentication). </li>

<h5>Premium authentication</h5>
<li>Anyone with a reddit account with karma above 100.</li>
<li>Anyone who's had a github account with either (at least 3 public repositories) or (stared one of the <a href="http://wiki.mastercoin.org/index.php/FAQ#Is_Mastercoin_open_source.3F" target="_blank">Mastercoin github repositories listed here</a>) and (account created before date Aug 1st 2013).</li>

<h5>Criteria that still need to be implemented</h5>

<li>Anyone who had a bitcointalk account with activity score > 10, at least 10 posts, accounts created prior to Aug 1 2013.</li>
