/* General
 *--------------------------------------------------

body
  background-image: url(image_path('mooning.png'))
  color: black  
  margin-left: -30px
  margin-top: 100px

a
  color: black

#container1
  padding: 20px
  margin-left: 165px
  margin-right: 165px
  background-color: transparent
  min-height: 450px

.login_box
  float: right
  margin-right: 50px
  position: relative

.well
  background-color: rgba(165, 165, 165, 0.71)
  border: black 1px solid
  color: black
  text-align: center

.footer
  margin-left: 165px
  margin-right: 165px
  border-top: 1px solid grey
  color: grey
  font-size: 10px
  text-align: center

.span3
  width: 230px


/* Navbar
 *--------------------------------------------------

body.pull_top
  padding-top: 0px !important

header
  background: rgba(0, 0, 0, 0.6) !important

.nav-header
  color: black

.navbar
  &.navbar-static-top
    margin-bottom: 35px
  &.transparent.navbar-inverse .navbar-inner
    background: rgba(0, 0, 0, 0.4)
    border-bottom: 1px solid rgb(88, 88, 88)
    .container
      margin-top: 10px
      margin-bottom: 10px
      -webkit-transition: margin .2s ease-in-out
      -moz-transition: margin .2s ease-in-out
      transition: margin .2s ease-in-out
  &.navbar-inverse .navbar-inner
    padding: 10px 0px 10px 0px
    background: #252528
    &.sticky
      background: rgba(0, 0, 0, 0.8)
      border-bottom: 1px solid #252525

.navbar-inverse
  .navbar-inner.sticky .container
    margin-top: 0px !important
    margin-bottom: 0px !important
  .brand
    color: rgb(182, 175, 175)
  .nav > li > a
    /*color: rgb(177, 177, 177);
    font-size: 13px
    font-weight: bold
    color: #fff
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5)
    opacity: .6
    filter: alpha(opacity = 60)
    -webkit-transition: all .2s linear
    -moz-transition: all .2s linear
    transition: all .2s linear
    &:hover, &.active
      color: #fff
      opacity: 1
      filter: alpha(opacity = 100)

.section_header
  width: 100%
  margin-bottom: 60px
  h3
    color: rgb(100, 100, 100)
    font-weight: 300
    font-style: italic
    font-size: 27px
    border-bottom: 1px solid #b3b3b3
    padding-bottom: 0px
    display: inline-block
    margin: 0

/* footer
 *--------------------------------------------------

