<div class="navbar transparent navbar-inverse navbar-fixed-top">
  <div class="navbar-inner sticky">
    <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <%= link_to image_tag('mastercoin_logo.png'), '/', class: "brand", method: :get %>
        <div class="nav-collapse collapse">
          <ul class="nav pull-left">
          </ul>

          <ul class="nav pull-right">
            <% if admin_signed_in? %>
              <li><%= link_to "AdminLogout", destroy_admin_session_path, method: :delete %></li>
            <% elsif user_signed_in? == false %>
              <li><%= link_to 'Sign-in', '', id: "show_login_box" %></li>
            <% else user_signed_in? %>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            <% end %>
          </ul>
        </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  $("#show_login_box").on("click", function(){
    $("#show_login").slideToggle();
    return false
  });
});
</script>