<div class="login_box" style="display:none" id="show_login">
  <div class="row"> 
    <div class="span3">
      <div class="well sidebar-nav">
        <h3>Mastercoin</h3>
        <div class="nav-header">
          Sign in through:
        </div>
        <ul class="nav nav-list">
          <li><%= link_to image_tag('facebook.png'), user_omniauth_authorize_path(:facebook) %></li>
          <li><%= link_to image_tag('github.png'), user_omniauth_authorize_path(:github) %></li> 
          <li><%= link_to image_tag('google.png'), user_omniauth_authorize_path(:google_oauth2) %></li>
          <li><%= link_to image_tag('reddit.jpg'), user_omniauth_authorize_path(:reddit) %></li>
          <li><%= link_to image_tag('twitter.png'), user_omniauth_authorize_path(:twitter) %></li> 
        </ul>
      </div>
    </div>
  </div>
</div>
